<div class="jumbotron"> 
  <h1>Site Name</h1>
</div>

<hr>

<ul class="nav nav-pills">
  
  <li role="presentation" class="active"><a href="#">All</a></li>
  <li role="presentation"><a href="#">Cat</a></li>
  <li role="presentation"><a href="#">Dog</a></li>
  <li role="presentation"><a href="#">Hamster</a></li>
</ul>


<table class="table">
  <thead>
    <tr>
      <th>Replies Cout</th>
      <th>Title</th>
      <th>Last reply at</th>
      <th>Viewed Count </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="badge"> 1 </span></td>
      <td></td>
      <td></td>
      <td> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></td>
    </tr>
  </tbody>
</table>

<hr>  
<div class="jumbotron"> 
  <img src=""/> 
  <div class="user_name"> User Name </div>
  <div class="introdunction"> </div>
  
  <button class="btn btn-default">Friend</button>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">My Posts</a></li>
  <li role="presentation"><a href="#">My Connments</a></li>
    <li role="presentation"><a href="#">My Collect  </a></li>
  <li role="presentation"><a href="#">My Draft  </a></li>
  <li role="presentation"> <a href="#">My Friend </a></li>
</ul>
